.tooltip-inner {
    background-color: #00cc00;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #00cc00 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #00cc00 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #00cc00 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #00cc00 !important;
}
