@model JSE.Web.Models.Depoimento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Depoimento</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Admin/Depoimento/Aprovar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" readonly />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" rows="8" cols="4" readonly></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Aprovado" id="chkAprovado" /> @Html.DisplayNameFor(model => model.Aprovado)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TelefoneCelular" class="control-label"></label>
                <input asp-for="TelefoneCelular" class="form-control" readonly/>
                <span asp-validation-for="TelefoneCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" readonly />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Aprovar" onclick="aprova(true)" class="btn btn-primary" />
                <input type="submit" value="Reprovar" onclick="aprova(false)" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<script>
    function aprova(resultado) {
        document.querySelector("#chkAprovado").checked = resultado;
    }
</script>
