@model IEnumerable<Galeria>
@using JSE.Web.Extensions;

@{
    ViewData["Title"] = "Galeria de resultados";
}

<section id="galerias" class="services section-bg">
    <div class="row my-5">
        <div class="container my-5 p-5">
            <div class="section-title my-2 p-0">
                <h2>Galeria</h2>
                <strong>Veja a galeria com nossos resultados.</strong>
            </div>

            <div class="row mx-3">
                @foreach (var row in Model.ToArray().Split(4))
                {
                    <div class="card-group p-2">
                        @foreach (var galeria in row)
                        {
                            <div class="card mx-1">
                                <img class="card-img-top img-fluid img-responsive" id="imgGaleria" src="~/images/uploads/Galeria/@galeria.NomeArquivo" alt="@galeria.NomeServico">
                                <div class="card-body">
                                    <h3 class="card-title">@galeria.NomeServico</h3>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                    <a href="#" class="btn-primary saiba-mais-btn scrollto"
                                       data-titulo="@galeria.NomeServico"
                                       data-action="@galeria.NomeServico"
                                       data-toggle="modal"
                                       data-target="#leiameModal"
                                       data-body-message="../images/uploads/Galeria/@galeria.NomeArquivo" onclick="btnAmpliar(this)"><i class="fa fa-search-plus"></i> Ampliar</a>
                                </div>
                            </div>

                        }
                    </div>
                }

            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="leiameModal" tabindex="-1" role="dialog" aria-labelledby="leiameModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h3 class="modal-title" id="leiameModalTitle" style="font-weight:bold"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:xx-large">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="imgModal" src="" alt="imgleiame" style="width:100%">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn-primary saiba-mais-btn scrollto" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>


<script>
    function btnAmpliar(componente) {
        var tituloModal = document.querySelector("#leiameModalTitle");
        var imagem = componente.getAttribute("data-body-message");
        var imagemModal = document.getElementById("imgModal");
        imagemModal.src = "";
        imagemModal.src = imagem;
        tituloModal.innerHTML = componente.getAttribute("data-titulo");
    }
</script>
