@model IEnumerable<JSE.Web.Models.Galeria>
@using JSE.Web.Extensions;

@{
    ViewData["Title"] = "Galeria de resultados";
}

<div class="text-center">
    <!--sobreNos-->
    <section id="sobreNos" class="content">
        <div class="container portfolio_title">
            <div class="section-title">
                <br />
                <h2>Galeria de resultados</h2>
                <h4></h4>
            </div>

            @foreach (var row in Model.ToArray().Split(4))
            {
                <div class="card-group">
                    @foreach (var galeria in row)
                    {
                        <div class="card">
                            <img class="card-img-top img-fluid img-responsive" id="imgGaleria" src="~/images/uploads/Galeria/@galeria.NomeArquivo" alt="@galeria.NomeServico">
                            <div class="card-body">
                                <h3 class="card-title">@galeria.NomeServico</h3>
                            </div>
                            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                <a href="#" class="btn btn-primary"
                                   data-action="@galeria.NomeServico"
                                   data-toggle="modal"
                                   data-target="#leiameModal"
                                   data-body-message="/images/uploads/Galeria/@galeria.NomeArquivo" onclick="btnAmpliar(this)"><i class="fa fa-search-plus"></i> Ampliar</a>
                            </div>
                        </div>

                    }
                </div>
            }

        </div>

    </section>

    <div class="modal fade" id="leiameModal" tabindex="-1" role="dialog" aria-labelledby="leiameModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="fancybox-close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img id="imgModal" src="" alt="" style="width:100%">
                    @*<img id="imgModal" src="https://i3.ytimg.com/vi/vr0qNXmkUJ8/maxresdefault.jpg" alt="" style="width:100%">*@
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <footer class="footer_wrapper">
        <div class="container">
            <div class="footer_bottom"><span>Todos os Direitos © reservados - Jay Soares Estética de Resultado - <a href="https://www.linkedin.com/in/bmendesgonca/" target="_blank" title="Linkedin">Desenvolvido por Bruno M. Gonçalves</a> </span> </div>
        </div>
    </footer>
</div>

@section Scripts{
    <script>
        function btnAmpliar(componente) {
            var imagem = componente.getAttribute("data-body-message");
            var imagemModal = document.getElementById("imgModal");
            imagemModal.src = "";
            imagemModal.src = imagem;
        }
    </script>
}