@model IEnumerable<JSE.Web.Models.Servico>
@{
    ViewData["Title"] = "Servicos";
    var itensPorLinha = 4;
    var linha = 1;

    int excludeRecords = (linha * Model.Count()) - Model.Count();

    //var servicos = _context.Servicos.OrderBy(s => s.NomeServico).ThenBy(s => s.Id)
    //    .Skip(excludeRecords)
    //    .Take(pageSize);


}

<div class="text-center">
    <!--sobreNos-->
    <section id="sobreNos" class="content">
        <div class="container portfolio_title">
            <div class="section-title">
                <br />
                <h2>Serviços</h2>
                <h4></h4>
            </div>

            @foreach (var servico in Model)
            {
                for (int i = 0; i < itensPorLinha; i++)
                {

                }
                <div class="card-group">
                    <div class="card">
                        <img class="card-img" src="~/img/80x80.png" alt="Bologna">

                        <div class="card-body">
                            <h3 class="card-title">@servico.NomeServico</h3>
                            <p class="card-text">@servico.Descricao</p>
                            <a href="#" class="btn btn-primary">Leia mais</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <hr />
                        </div>
                    </div>
                </div>
            }

        </div>

    </section>

</div>
<div>
    <footer class="footer_wrapper">
        <div class="container">
            <div class="footer_bottom"><span>Todos os Direitos © reservados - <a href="https://www.linkedin.com/in/bmendesgonca/" target="_blank" title="Linkedin">Desenvolvido por Bruno M. Gonçalves</a> </span> </div>
        </div>
    </footer>
</div>

<script>
    var items = document.querySelectorAll(".liAtv");
    for (var i = 0; i < items.length; ++i) {
        items[i].classList.remove("Active");
    }
</script>

