@model JSE.Web.Models.Galeria

@{
    ViewData["Title"] = "Cadastro Galeria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var atualiza = false;

    if (Model.NomeArquivo == null || Model.NomeArquivo == "")
    {
        atualiza = false;
    }
    else
    {
        atualiza = true;
    }

}

<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cadastro de Galeria</h1>
        <hr />
    </div>
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" onload="initImage()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ServicoId" class="control-label"></label>
                @Html.DropDownListFor(g => g.ServicoId, ((IEnumerable<JSE.Web.Models.Servico>)ViewBag.Servicos)
                                   .Select(option => new SelectListItem
                                   {

                                       Text = option.NomeServico,
                                       Value = option.ServicoId.ToString(),
                                       Selected = (ViewBag.Servicos != null)
                                   }), "Selecione...", new { @class = "form-control", @required = "required" })
                <span asp-validation-for="ServicoId" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <input asp-for="ServicoId" id="servicoId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Exibir" /> @Html.DisplayNameFor(model => model.Exibir)
                    </label>
                </div>
            </div>

            <div class="form-group" hidden>
                <input asp-for="NomeArquivo" id="nomeArquivo" class="form-control" readonly />
                <input asp-for="Imagem" id="imagemModel" class="form-control" readonly />
            </div>

            <div class="form-group">
                @if (atualiza)
                {
                    <img class="img-galeria" width="350" height="250" id="uplImg" src="~/images/uploads/Galeria/@Model.NomeArquivo" alt="@Model.NomeArquivo" />
                }
                else
                {
                    <img id="uplImg" src="~/img/photo-ico.png" alt="fotoico" />
                }

            </div>

            <div class="form-group">
                <label class="lbl-upload" for="inputFiles">Adicionar foto </label>
                <input class="input-file" id="inputFiles" type="file" name="files" accept="image/*" />
                <span id="file-name"></span>
                <p style="color:lightgray">Tamanho imagem 600 x 420</p>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Salvar" class="btn btn-primary btn-block btn-lg" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block btn-lg">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        var input = document.querySelector("#inputFiles");
        var filename = document.querySelector("#file-name");
        //var inputServicoId = document.querySelector("#servicoId");
        var arquivo = document.querySelector("#nomeArquivo");
        var imagemModel = document.querySelector("#imagemModel");

        //var valServicoId = "";

        input.addEventListener('change', function () {
            filename.textcontent = this.value;
            readURL(input);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#uplImg')
                        .attr('src', imgUpload.baseURI + "img/photo-ico.png"); //Limpar memoria com imagem padrao

                    $('#uplImg')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function initImage() {
            if (arquivo.value == "") {
                if (input.files) {
                    var filesAmount = input.files.length;

                    $(imgUpload).empty(); // remove as imagens antigas
                    for (i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();
                        reader.onload = function (event) {
                            $($.parseHTML('<img>')).attr('src', event.target.result)
                                .appendTo(imgUpload);
                        }
                        reader.readAsDataURL(input.files[i]);
                    }
                }

                //Limpar campos
                imgUpload.currentSrc = imgUpload.baseURI + "img/photo-ico.png";
                imgUpload.src = imgUpload.baseURI + "img/photo-ico.png";
            }

        }
    </script>

}

