@model JSE.Web.Models.Servico

@{
    ViewData["Title"] = "Cadastro serviços";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Cadastro Serviço</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="Servico" asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeServico" class="control-label"></label>
                <input asp-for="NomeServico" class="form-control" />
                <span asp-validation-for="NomeServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <input asp-area="Admin" asp-controller="Home" asp-action="Index" type="submit" value="Salvar" class="btn btn-success btn-block" />
            </div>
            <div class="form-group col-md-6">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-block">Voltar</a>
            </div>
        </form>
    </div>
</div>

