
@{
    ViewData["Title"] = "Error";
    var erro = ViewBag.CodeError;
    var message = ViewBag.ErrorMessage;
}

<title>Pagina não encontrada</title>

<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

<!-- Custom stlylesheet -->
<link href="~/css/style-error.css" rel="stylesheet" />

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>@erro</h1>
            </div>
            <h2>@message</h2>
            <h2>@*Oops, A página não foi encontrada!*@</h2>
            <br />
            @*<form class="notfound-search">
                <input type="text" placeholder="Search...">
                <button type="button">Search</button>
            </form>*@
            <a href="~/Home" style="color:#BC2A87" ><span class="arrow" style="color:#BC2A87"></span>Voltar para página inicial</a>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

<div>
    <footer class="footer_wrapper">
        <div class="container">
            <div class="footer_bottom"><span>Todos os Direitos © reservados - <a href="https://www.linkedin.com/in/bmendesgonca/" target="_blank" title="Linkedin">Desenvolvido por Bruno M. Gonçalves</a> </span> </div>
        </div>
    </footer>
</div>