<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jay Soares | Estética de Resultado</title>
    <link href="~/admin/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/css/dashboard.css" rel="stylesheet" />
    @*<link href="~/admin/css/fontawesome.min.css" rel="stylesheet" />*@
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="~/img/favicon_32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="~/img/favicon.png" sizes="16x16" type="image/png">
    <link rel="icon" href="~/img/favicon.ico">


    @*<link href="dashboard.css" rel="stylesheet">*@
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">JSE | Administração</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Pesquisa" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sair</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
                        <ul class="nav flex-column flex-nowrap overflow-hidden">
                            <li class="nav-item">
                                <a class="nav-link text-truncate active"  href="~/admin/dashboard">
                                    <i class="fas fa-home"></i><span data-feather="home"></span> Inicio <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fas fa-user"></i> <span data-feather="users" class="d-none d-sm-inline"></span> Clientes</a>
                                <div class="collapse" id="submenu1" aria-expanded="false">
                                    <ul class="flex-column nav pl-4 item-menu">
                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="~/admin/contato">
                                                <span data-feather="phone">&nbsp;</span> Contato
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="~/admin/depoimento">
                                                <span data-feather="file-text">&nbsp;</span> Depoimento
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link collapsed text-truncate" href="#submenu2" data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i> <span data-feather="clipboard" class="d-none d-sm-inline"></span> Cadastros</a>
                                <div class="collapse" id="submenu2" aria-expanded="false">
                                    <ul class="flex-column nav pl-4">
                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="~/admin/estabelecimento">
                                                <span data-feather="check-circle">&nbsp;</span> Estabelecimento
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="~/admin/servico">
                                                <span data-feather="check-circle">&nbsp;</span> Serviços
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="~/admin/servicocategoria">
                                                <span data-feather="check-circle">&nbsp;</span> Categorias
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="~/admin/galeria">
                                                <span data-feather="check-circle">&nbsp;</span> Galeria
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="#">
                                                <span data-feather="check-circle">&nbsp;</span> Produtos
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link collapsed text-truncate" href="#submenu3" data-toggle="collapse" data-target="#submenu3"><i class="fas fa-user"></i> <span data-feather="shield" class="d-none d-sm-inline"></span> Segurança</a>
                                <div class="collapse" id="submenu3" aria-expanded="false">
                                    <ul class="flex-column nav pl-4">
                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="~/admin/usuario">
                                                <span data-feather="user">&nbsp;</span> Usuários
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link collapsed text-truncate" href="#submenu4" data-toggle="collapse" data-target="#submenu4"><span data-feather="bar-chart-2" class="d-none d-sm-inline"></span> Relatórios</a>
                                <div class="collapse" id="submenu4" aria-expanded="false">
                                    <ul class="flex-column nav pl-4">
                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="#">
                                                <span data-feather="file-text">&nbsp;</span> Acessos
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="#">
                                                <span data-feather="file-text">&nbsp;</span> Contatos
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-b-4" href="#">
                                                <span data-feather="file-text">&nbsp;</span> Depoimentos
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item p-b-100">
                                <a class="nav-link text-truncate active" href="~/admin/dashboard/logout">
                                    <i class="fas fa-home"></i><span data-feather="log-out"></span> Sair
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col pt-2">
                        @RenderBody()
                    </div>
                </div>
            </div>
            @*<nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file"></span>
                                    Orders
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="shopping-cart"></span>
                                    Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="users"></span>
                                    Customers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="bar-chart-2"></span>
                                    Reports
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="layers"></span>
                                    Integrations
                                </a>
                            </li>
                        </ul>

                       <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Saved reports</span>
                            <a class="d-flex align-items-center text-muted" href="#">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Current month
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Last quarter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Social engagement
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Year-end sale
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>*@


        </div>
    </div>

    <script src="~/admin/jquery/jquery-3.2.1.slim.min.js"></script>
    @*<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>*@
    @*<script src="../../assets/js/vendor/popper.min.js"></script>*@
    <script src="~/admin/dist/js/bootstrap.min.js"></script>
    @*<script src="~/admin/js/dist/feather.min.js"></script>*@
    <script src="~/admin/js/feather.min.js"></script>
    @*<script src="~/admin/js/fontawesome.min.js"></script>*@
    <script>
        feather.replace()
    </script>
    <script src="~/admin/chart/Chart.min.js"></script>
    <script src="~/js/delete.js"></script>
    <script src="~/js/actions.js"></script>

    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
