
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jay Soares | Estética de Resultado</title>
    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/admin/vendor/fontawesome-free/css/v4-shims.min.css" rel="stylesheet" />
    <link href="~/admin/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/admin/css/google-fonts.css" rel="stylesheet" />
    <link href="~/admin/css/sb-admin-2.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.png" type="image/png">
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <div class="sidebar-brand-text mx-3">JSE - Administração</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Feedback
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Clientes</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-area="Admin" asp-controller="Contato" asp-action="Index">
                            <i class="fas fa-fw fa-phone"></i>
                            <span>Contatos</span>
                        </a>
                        <a class="collapse-item" asp-area="Admin" asp-controller="Depoimento" asp-action="Index">
                            <i class="fas fa-fw fa-file-alt"></i>
                            <span>Depoimentos</span>
                        </a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Manutenção
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-clipboard"></i>
                    <span>Cadastros</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-area="Admin" asp-controller="Estabelecimento" asp-action="Index">
                            <i class="fas fa-fw fa-industry"></i>
                            <span>Estabelecimento</span>
                        </a>

                        <a class="collapse-item" asp-area="Admin" asp-controller="Servico" asp-action="Index">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Serviços</span>
                        </a>

                        <a class="collapse-item" asp-area="Admin" asp-controller="ServicoCategoria" asp-action="Index">
                            <i class="fas fa-fw fa-bars"></i>
                            <span>Categorias (serviços)</span>
                        </a>

                        <a class="collapse-item" asp-area="Admin" asp-controller="Galeria" asp-action="Index">
                            <i class="fas fa-fw fa-images"></i>
                            <span>Galeria</span>
                        </a>

                        <a class="collapse-item" asp-area="Admin" asp-controller="Faqs" asp-action="Index">
                            <i class="fas fa-fw fa-question"></i>
                            <span>Perguntas Frequentes</span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-shield-alt"></i>
                    <span>Segurança</span>
                </a>
                <div id="collapseSecurity" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-area="Admin" asp-controller="Usuario" asp-action="Index">
                            <i class="fas fa-fw fa-users"></i>
                            <span>Usuários</span>
                        </a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-chart-pie"></i>
                    <span>Relatórios</span>
                </a>
                <div id="collapseReport" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">
                            <i class="fas fa-fw fa-file-alt"></i>
                            <span>Acessos</span>
                        </a>

                        <a class="collapse-item" href="#">
                            <i class="fas fa-fw fa-file-alt"></i>
                            <span>Contatos</span>
                        </a>

                        <a class="collapse-item" href="#">
                            <i class="fas fa-fw fa-file-alt"></i>
                            <span>Depoimentos</span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Login" asp-action="Logout" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Pesquisa..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.Usuario</span>
                                <img class="img-profile rounded-circle" src="~/img/logo-user.png" alt="logousuario">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Login" asp-action="Logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Jay Soares Estética de Resultado @DateTime.Now.Year.ToString()</span>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Clique em Sim para sair do sistema.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Login" asp-action="Logout">Sim</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/admin/js/sb-admin-2.min.js"></script>
    <script src="~/js/mask.js"></script>
    <script src="~/js/actions.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>





